.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    /* margin-top: 3%; */
  }
  
  .headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
  }
  .headerContainers{
    /* margin: 20px 0px 100px 0px; */
  }
  
  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
  }
  
  .headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  }
  
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  
  .headerDesc {
    margin: 20px 0px;
  }
  
  .headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  
  .headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
  }
  
  .headerIcon {
    color: lightgray;
  }
  .headerIcons {
    color: lightgray;
    /* width: 20%; */
  }
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchInput {
    border: none;
    outline: none;
  }
  
  .headerSearchText {
    color: lightgray;
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }


  .searchResultsContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .searchResultCard {
    /* flex: 1 1 100%; Each card takes up 100% of the width */
    width: 50%;
    margin-top: 2%;
    padding: 20px;
    margin-left: 24%;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .searchResultCard h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .searchResultCard p {
    margin: 5px 0;
    display: flex;
  }

  .pagination {
    display: inline-block;
    display: flex;
    margin-left:26%;
   
  }
  
  .pagination p {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    /* background-color: #ccc; */
    
  }
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff; /* Change to the desired active color */
    color: #fff;
  }

  .flight-ticket-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* width: 60%; */
    width: 50%;
    margin-left: 24%;
    display: flex;
    margin-top: 2%;
    gap: 58px;
    justify-content: space-around;
    /* justify-content: space-around; */
  }

  .airline-logo {
    margin-top: 25px;
  }

  .flight-details {
    /* margin-bottom: 8px; */
  }

  .price {
    font-weight: bold;
    margin-left: 20%;
  }

  .select-button {
    background-color: #0077FF;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 30%;
    margin-left: 21%;
padding: 10px;
border-radius: 5%;
text-align: center;
  }

  .select-button:hover {
    background-color: #0055CC;
  }